{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/weapons/weapon-detail.css' %}" />
{% endblock %} 
{% block content %}

<div class="card">
  <div class="card-bg"></div>
  <div class="card-content">
    <h2>{{ weapons.name }}</h2>
    <p>A {{ weapons.color }} weapon</p>
  </div>
</div>
<a href="{% url 'weapon-update' weapons.id %}" class="btn warn">Edit</a>
<a href="{% url 'weapon-delete' weapons.id %}" class="btn danger">Delete</a>

{% endblock %}