{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/splash.svg' %}" />
  <title>Mobile Suit Hanger</title>
  <link rel='stylesheet' href="{% static 'css/base.css' %}" />
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img src="{% static 'images/mobile-suit-hanger.png' %}" alt="The Mobile Suit Hanger Logo" />
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'ms-index' %}">All Mobile Suits</a></li>
        <li><a href="{% url 'ms-create' %}">Add a Mobile Suit</a></li>
        <li><a href="{% url 'weapon-index' %}">All Weapons</a></li>
        <li><a href="{% url 'weapon-create' %}">Add a Weapon</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
        {% else %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'home' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>