{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/mobile suits/ms-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Mobile Suit List</h1>
 
  />
</section>

<section class="card-container">
  {% for ms in ms %}
  <div class="card">
    <a href="{% url 'ms-detail' ms.id %}">
    <div class="card-content">
      <div class="card-img-container">
       
      </div>
      <h2 class="card-title">{{ ms.name }}</h2>
      {% if ms.age > 0 %}
      <p>A {{ ms.age }} year old {{ ms.type }}</p>
      {% else %}
      <p>A {{ ms.type }} Mobile Suit.</p>
      {% endif %}
      <p><small>{{ ms.description }}</small></p>
    </div>
   </a>
  </div>
  {% endfor %}
</section>

{% endblock %}